@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* buttons */
.btn {
  @apply rounded-lg p-1 px-3 lg:py-1.5 lg:px-7
}

.font-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.scrolled {
  @apply fixed w-full shadow
}

/* section */
.section {
  @apply px-8 sm:px-14 md:px-20 lg:px-[7.5rem] xl:px-[8.5rem]
}
.unactive {
  @apply text-[#474747]
}

/* download */
.download {
  @apply px-6 md:px-6 mx-2 white-30 h-fit text-center py-6 rounded-full md:rounded-lg
}

/* drop shadow */
.dropShadow {
  box-shadow: 1rem;
}

/* text opacity */
.text-opac-dark {
  @apply text-neutral-800 text-opacity-80;
}

.text-opac-light {
  @apply text-neutral-100 text-opacity-90;
}

/* glassmorphism */
.glass {
  @apply bg-white rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 z-[1000] border-0;
}

.white-30 {
  @apply bg-neutral-700 sm:bg-white sm:bg-opacity-25 bg-opacity-40 ;
}



/* hero */
.heroText {
  @apply font-medium text-3xl sm:text-3xl md:text-5xl lg:text-6xl text-left mb-7 text-[#080F2B]
}

.heroSubText {
  @apply text-[080F2B] text-sm text-opacity-70
}

.bg-primary {
  @apply text-white
}
/* default */

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  @apply bg-white
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply  text-[#08080c]
}

:root {
  @apply text-[#08080c]
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}